<h3> Post a Comment </h3>
<%= form_for [@article, @comment] do |f| %>
  <p>
    <%= f.label :author_name %><br/>
    <%= f.textfield :author_name %>
  </p>
  <p>
    <%= f.label :body %><br/>
    <%= f.textarea :body %>
  </p>
  <p>
    <%= f.submit 'Submit'%>
  </p>
<% end %>
